apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      # Сам Prometheus
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      # Твой Spring Boot Actuator Prometheus endpoint
      - job_name: "spring-boot"
        metrics_path: "/actuator/prometheus"
        static_configs:
          - targets: ["tracker-service:8099"]
            labels:
              app: "myapp"
